<div class="about-container row">

  <div class="left-block col-12 col-md-5">

    <div class="row">
      <div class="image">
        <img clas="img-fluid" [src]="imgPerson"/>
      </div>

      <div class="description">
        <p class="text-justify">
          {{description}}
        </p>
      </div>
    </div>

  </div>

  <div class="right-block col-12 col-md-6">
    <h3>¿QUIEN SOY?</h3>
    <p class="info">
      <span class="field-title">Nombre</span>
      <span class="field-separator">:</span>
      <span class="field-value">{{name}} {{lastname}}</span>
    </p>
    <p class="info">
        <span class="field-title">Direccion</span>
        <span class="field-separator">:</span>
        <span class="field-value">{{address}}</span>
    </p>
    <p class="info">
        <span class="field-title">Provincia</span>
        <span class="field-separator">:</span>
        <span class="field-value">{{province}}</span>
    </p>
    <p class="info">
        <span class="field-title">Poblacion</span>
        <span class="field-separator">:</span>
        <span class="field-value">{{city}}</span>
    </p>
    <p class="info">
        <span class="field-title">Codigo Postal</span>
        <span class="field-separator">:</span>
        <span class="field-value">{{cp}}</span>
    </p>
    <p class="info">
        <span class="field-title">Telefono</span>
        <span class="field-separator">:</span>
        <span class="field-value">{{phone}}</span>
    </p>
    <p class="info">
        <span class="field-title">Email</span>
        <span class="field-separator">:</span>
        <span class="field-value">{{email}}</span>
    </p>
  </div>

  <div class="link-block col-12 col-md-1 d-none d-lg-block">

      <a href="../../../assets/download/francisco-agustin-navarro-galdon-curriculum-vitae.pdf" class="d-flex justify-content-center download-cv" [options]="downloadCv" tooltip="Descargar Curriculum en PDF">
        <i class="far fa-file-archive align-self-center"></i>
      </a>
      <a href="mailto:xAgustin93@gmail.com" class="d-flex justify-content-center email" [options]="sendEmail" tooltip="Enviar un email">
        <i class="far fa-envelope align-self-center"></i>
      </a>
      <a href="https://github.com/xAgustin93" class="d-flex justify-content-center github" [options]="github" tooltip="Ver perfil en GitHub">
        <i class="fab fa-github-alt align-self-center"></i>
      </a>
      <a href="https://www.linkedin.com/in/agustin93/" class="d-flex justify-content-center linkedin" [options]="linkedin" tooltip="Ver perfil en Linkedin.">
        <i class="fab fa-linkedin-in align-self-center"></i>
      </a>



  </div>
  <div class="link-block-mobile col-12 col-md-1 d-block d-sm-block d-md-none">

      <div class="row">
        <div class="col-3 text-center button-social">
          <a href="../../../assets/download/Francisco Agustin Navarro Galdon - Curriculum.pdf" class=" download-cv" [options]="downloadCv" tooltip="Descargar Curriculum en PDF">
            <i class="far fa-file-archive align-self-center"></i>
          </a>
        </div>

        <div class="col-3 text-center button-social">
          <a href="mailto:xAgustin93@gmail.com" class="email" [options]="sendEmail" tooltip="Enviar un email">
            <i class="far fa-envelope align-self-center"></i>
          </a>
        </div>

        <div class="col-3 text-center button-social">
          <a href="https://github.com/xAgustin93" class="github" [options]="github" tooltip="Ver perfil en GitHub">
            <i class="fab fa-github-alt align-self-center"></i>
          </a>
        </div>

        <div class="col-3 text-center button-social">
          <a href="https://www.linkedin.com/in/agustin93/" class="linkedin" [options]="linkedin" tooltip="Ver perfil en Linkedin.">
            <i class="fab fa-linkedin-in align-self-center"></i>
          </a>
        </div>
      </div>
  </div>


</div>