<div class="row">
    <div class="col-12">
      <h4>Experiencia profesional</h4>
      <ul class="jobs">
        <li class="job">
          <a target="_blank" href="#">CECOTEC INNOVACIONES S.L.</a>
          <a href="#" class="float-right">Febrero 2016 - Actualmente</a>
          <ul>
            <li>Desarrollo de aplicaciones MEAN. (MongoDB, Express, Angular y Node.JS)</li>
            <li>Desarrollo de Web y E-Commerce. (PrestaShop 1.6 y 1.7, WordPress y Joomla)</li>
            <li>Desarrollo de aplicaciones móviles y de escritorio.</li>
            <li>Control y gestión de las tareas del departamento de desarrollo web/apps.</li>
            <li>Montaje y mantenimiento de una habitación con 3 armario de red rack, para suministrar a toda la empresa conexión a Internet y tener equipos en red.</li>
            <li>Mantenimiento y instalación de equipos informáticos, ordenadores, impresoras en red, servidor de datos, dispositivos wifi, routers y puntos de acceso.</li>
          </ul>
        </li>
        <li class="job">
          <a href="#">EDITH FORMACIÓN AVANZADA</a>
          <a href="#" class="float-right">Noviembre 2014 - Enero 2015</a>
          <ul>
            <li>Instalacion y mantenimiento de dispositivos informaticos, ordenadores, proyectores, impresoras, redes wiffi.</li>
            <li>Organizacion y gestion de base de datos.</li>
            <li>Construcción y programación FrontEnd en Paginas Web y E-commece. (Joomla, WordPress y PrestaShop)</li>
            <li>Profesor de clases de informática básica.</li>
          </ul>
        </li>
        <li class="job">
          <a href="#">OINTEC INFORMÁTICA</a>
          <a href="#" class="float-right">Marzo 2013 - Junio 2013</a>
          <ul>
            <li>Reparaciones de ordenadores de sobremesa, portátiles, tablets y móviles.</li>
            <li>Construcción y programación FrontEnd en Paginas Web y E-commece. (Joomla, WordPress y PrestaShop)</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>