<div class="row">
    <div class="col-12">
      <h4>Experiencia profesional</h4>
      <ul class="jobs">

        <li class="job">
          <a href="#">Udemy</a>
          <a href="#" class="float-right">Cursos Online Realizados</a>
          <ul>
            <li>Ionic 2 y Ionic 3 || Profesor: Fernando Herrera</li>
            <li>JavaScript, Angular, NodeJS y MongoDB || Profesor: Victor Robles</li>
            <li>PHP7 y MySQL || Profesor: Carlos Arturo Esparza</li>
            <li>Angular 2 y Angular 5+ || Profesor: Fernando Herrera</li>
            <li>Integracion Docker a Infraestructuras y Servicios || Profesor: Manuel Morejón</li>
          </ul>
        </li>

        <li class="job">
          <a href="#">Desarrolló y Despliegue de Aplicaciones Web</a>
          <a href="#" class="float-right">2018 - 2019</a>
          Ciclo Formativo Grado Superior ||  I.E.S Camp de Morvedre
        </li>

        <li class="job">
          <a href="#">Desarrolló de Aplicaciones Multiplataforma</a>
          <a href="#" class="float-right">2016 - 2018</a>
          Ciclo Formativo Grado Superior ||  I.E.S Camp de Morvedre
        </li>
        
        <li class="job">
          <a href="#">Sistemas Microinformáticos y Redes</a>
          <a href="#" class="float-right">2011 - 2013</a>
          Ciclo Formativo Grado Medio ||  I.E.S Camp de Morvedre
        </li>

        <li class="job">
          <a href="#">Confección y Publicacion de Paginas Web</a>
          <a href="#" class="float-right">2013 - 2014</a>
          Curso Academico || Edith Formación Avanzada
        </li>

        <li class="job">
          <a href="#">Empleabilidad y Habilidad Sociales</a>
          <a href="#" class="float-right">2015</a>
          <p>
              Curso Academico || Camara de Comercio Valencia
          </p>
        </li>

      </ul>
    </div>
  </div>